@model POSModel.RoleModel

@{
    ViewBag.Title = "Index";
    int counter = 1;
}


<div class="main-title clearfix">
    <h3>User Roles </h3>
</div>
<div class="text-right">
    <button id="AddEditButton" class="btn btn-add"><i class="fa fa-plus"></i> Add New</button>
</div>
@*<button id="AddEditButton" class="btn btn-add pull-right"><i class="fa fa-plus"></i> Add New</button>
<div class="clearfix"></div>*@

<div id="pop-up-div" class="modal fade" role="dialog">
</div>
<div class="content-table">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="width-30">
                        S.N.
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(x => x.RoleName)
                    </th>
                   @*<th>
      Authorisation
    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RoleList)
                {
                    <tr>
                       <td>
                           @counter
                       </td>
                       
                        <td>
                            <a href="#" onclick="EditRoles('@item.RoleId')"><i class="fa fa-edit"></i> @item.RoleName</a>
                        </td>
                         @*<td>
                            <a  class="btn btn-add"  href="~/Setup/UserAuthorisation?roleId=@item.RoleId"><i class="fa fa-edit"></i>Authorisation </a>
                        </td>*@
                   
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>
<script>

   
    $('#AddEditButton').on('click', function () {
        EditRoles();
    });

    function EditRoles(uniqueId)
    {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/SetUp/CreateEditUserRoles")',
            data: { roleId: uniqueId },
            success: function (result) {
                $('#pop-up-div').html(result).modal({
                    'show': true,
                    'backdrop': 'static'
                })

            },
            error: function () {

            }
        });
    }

</script>


