body {
    
}
.margin-top-35 {
    margin-top: 35px;
}

.margin-right-60{
    margin-right:60px;
}
.padding-right-20{
    padding-right:20px;
}
.margin-right-20{
    margin-right:20px;
}
.space {
    margin-right: 20px;
}
